@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');
body {
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.l__main_section {
    background-image: url('../img/bg_img.png');
    background-position: top center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 750px;
    padding: 9rem 0;
}
header {
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    transition: all .3s;
    z-index: 10;
}
h1 {
    font-size: 67px;
    width: 60%;
    margin-top: 5rem;
    color: #000000;
}
.header__inner {
    display: flex;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 20px;
}
p.primary_text {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}
.b__nav ul{
    list-style-type: none;
    width: 60%;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}
.b__nav ul li {
    margin-right:1rem ;
}
.b__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}
.b__nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: all .3s;
}
.logo svg path{
    transition: all .3s;
}
.b__phone a {
    text-decoration: none;
    color: #FFFFFF;
    transition: all .3s;
}
.b__phone a:hover {
    text-decoration: underline;
}
.text__description {
    width: 50%;
}
.btn__call_to_action {
    padding: .5rem 3rem;
    width: min-content;
}
#main_sect_btn {
    border: 5px solid #000000;
}
a.btn__call_to_action#main_sect_btn:hover{
    text-decoration: none;
    color: #000000;
}
a.btn__call_to_action#main_sect_btn{
    color: #000000;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 800;
}
.btn__wrapper {
    margin-top: 5rem;
}
.l-sections {
    background-color: #F7E7C4;
    padding: 3rem 0;
}
.l-section {
    position: relative;
    padding: 3rem 0;
}
.fixed_img {
    position: absolute;
    top: 30%;
    right: 40%;
}
.b__content {
    display: flex;

}
.b__imgs img {
    height: 400px;
    z-index: 2;
    position: relative;
    object-fit: cover;
    aspect-ratio: 3 / 2;
}
.b__imgs {
    padding-left: 3rem;
}
.b__content > * {
    width: 50%;
}
h2 {
    color: #169B62;
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 50px;
}
h2.k__small::after {
    content: '';
    background-color: #169B62;
    width: calc(50% - 6rem);
    height: 4px;
    position: absolute;
    top: 50%;
    right: 0;
}
h2.k__small::before {
    content: '';
    background-color: #169B62;
    width: calc(50% - 6rem);
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
}
h2.k__medium::after {
    content: '';
    background-color: #169B62;
    width: calc(45% - 6rem);
    height: 4px;
    position: absolute;
    top: 50%;
    right: 0;
}
h2.k__medium::before {
    content: '';
    background-color: #169B62;
    width: calc(45% - 6rem);
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
}
h2.k__large::after {
    content: '';
    background-color: #169B62;
    width: calc(40% - 6rem);
    height: 4px;
    position: absolute;
    top: 50%;
    right: 0;
}
h2.k__large::before {
    content: '';
    background-color: #169B62;
    width: calc(40% - 6rem);
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
}
blockquote {
    font-weight: 700;
    color: #FF883E;
    font-size: 40px;
    line-height: 50px;
    position: relative;
    width: 85%;
}
blockquote::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    background-image: url('../img/start_bloquote.svg');
    width: 30px;
    height: 30px;
}
blockquote::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    background-image: url('../img/finish_bloquote.svg');
    width: 30px;
    height: 30px;
}
.b__quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 7rem;
    padding-left: 3rem;
}
.b__undertext p {
    font-weight: 700;
    font-size: 16px;
}
#about_us_btn {
    border: 5px solid #FF883E;
}
a.btn__call_to_action#about_us_btn:hover{
    text-decoration: none;
    color: #FF883E;
}
a.btn__call_to_action#about_us_btn{
    color: #FF883E;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 800;
}
.mt-10 {
    margin-top: 10rem;
}
.b__card_img img {
    aspect-ratio: 4.25 / 4.44;
    background-position: center center;
    object-fit: cover;
    width: 100%;
    max-height: 440px;
    border: 3px solid #000000;
}
.b__menu_innerGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.b__menu_card {
    grid-column: auto / span 2;
    padding: 1rem;
    
}
.b__menu_title {
    font-size: 60px;
    line-height: 50px;
    color: #FF883E;
    font-weight: 700;
    margin-bottom: 2rem;
}
.b__card_description {
    display: flex;
    font-family: Playfair Display;
    font-weight: 700;
    justify-content: space-between;
    font-size: 24px;
    margin-top: .5rem;
}
.link_to_menu {
    background-color: #169B62;
    margin: 1rem 0 0 0;
    padding: 0 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 3px solid #000000;
    cursor: pointer;
}
#menuArrow {
    position: absolute;
    bottom: 1.5rem;
    right: 20%;
    transition: all .3s;
}
.link_to_menu:hover #menuArrow {
    transform: scale(1.2);
    transition: all .3s;

}
#download_menu {
    border: 5px solid #169B62;
    width: fit-content;
}
a.btn__call_to_action#download_menu:hover {
    text-decoration: none;
    color: #169B62;
}
a.btn__call_to_action#download_menu {
    color: #169B62;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 800;
}
.b__adv_grid {
    display: flex;
    align-items: center;
    padding: 3rem 0;
}
.b__adv_grid > * {
    padding: 1rem 1.25rem;
    width: 25%;
}
.b__item_text {
    font-family: 'PlayFair Display', serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 1rem;
}
.b__interier_description {
    font-size: 28px;
    font-weight: 400;
    font-family: 'PlayFair Display', serif;
    padding-right: 3rem;
}
.b__interier_title {
    font-weight: 900;
    margin-bottom: 1rem;
}
.b__item_img img {
    width: 100%;
    max-height:200px;

}

.b__adv_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b__interier_wrapper {
    display: flex;
    flex-direction: row;
}
.b__itemPhoto img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
    width: 400px;
    max-height: 600px;
    border: 3px solid #000000;
    position: relative;
}
.b__interier_photo {
    display: flex;
    position: relative;
}
.b_interier_item {
    position: relative;
    width: 3.5rem;
    max-height: 650px;
}
.b__itemPhoto_description.center_side {
    position: absolute;
    bottom: 60px;
    left: 5px;
    z-index: 7;
    width: 250px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
}
.b__itemPhoto_description {
    position: absolute;
    bottom: 60px;
    left: 5px;
    z-index: 7;
    width: 250px;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
}
.b__itemPhoto_description.left_side{
    transform: rotate(-90deg);
    bottom: 170px;
    left: -100px;

}
.b__itemPhoto_description.right_side{
    transform: rotate(-90deg);
    bottom: 170px;
    right: -440px;
    text-align: left;
    left: unset;
}
.b__bgc_img {
    max-height: 470px;

}
.b__bgc_img img {
    width: 100%;
    object-fit: cover;
    max-height: 470px;
}
.b__workingHours_wrapper {
    position: relative;
}
.b__timetable_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #FF883E;
    height: 100%;
}
.b__time_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.b__booking_title {
    font-size: 40px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
    color: #000000;
    margin-bottom: 2rem;

}
.b__form_rowTitle {
    font-size: 30px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
    color: #000000;
    margin-bottom: 2rem;
}
.b__booking_wrapper {
    padding: 3rem;
    background-color: #D9D9D9;
}
input {
    background-color: #FF883E;
    padding: .7rem .5rem .7rem 1rem;
    margin-right: 2rem;
    border: none;
    
}
input:focus, input:visited, input:focus-visible {
    border: none;
    outline: none;
}
input::placeholder {
    font-size: 18px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
    color: #000000;

}
.f__input_wrapper {
    display: flex;
    margin-bottom: 2rem;
}
.f__input_wrapper > * {
    width: 30%;
}




.calendar {
    font-size: 24px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
    color: #000000;
}

.month {
    text-align: center;
    background-color: #ccc;
    padding: 10px;
}
.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;

}
.days .day_num {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    margin: 1px;
    border-radius: 50%;
    font-size: 26px;
    margin: .4rem .2rem;
    color: #858585;
    font-weight: 400;
}
.b__dateForSlide_item {
    display: flex!important;
}
.b__monthTitle_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.b__monthTitle_wrapper > * {
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.b_month {
    font-size: 24px;
    font-weight: 400;
    font-family: 'PlayFair Display', serif;
    color: #000000;
}
.b__timeRanges {
    font-size: 24px;
    font-weight: 600;
    font-family: 'PlayFair Display', serif;
    color: #000000;
}
.b__timeRanges_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: start;
    align-content: space-evenly;
    height: 80%;
}
.time {
    font-size: 28px;
    font-weight: 400;
    font-family: 'PlayFair Display', serif;
    color: #000000;
    padding: .2rem;
}
input#time_input_hidden {
    display: none;
}
.m_checked {
    color: #ffffff;
}
.m_available {
    background-color: #FF883E;
}

.c_available {
    color: #FF883E!important;
}
.c_checked {
    background-color: #ffffff;
    color: #000000!important;
}
footer {
    background-image: url('../img/bg_img.png');
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center bottom;
}
footer {
    padding: 5rem 0;
}